include ../mixins/title
-
  let qa = [
    {
      question: 'Можно ли учиться дистанционно?',
      answer: 'Нет. В отличие от онлайн-курса, формат интенсива предполагает личное взаимодействие спикера и участника. Мы считаем, это позволит выстроить эффективную работу и тщательно проработать все темы.'
    },
    {
      question: 'Что значит “возможность присоединиться к команде профессионалов Studia 54”?',
      answer: 'Тем участникам, которые успешно завершат интенсив, будет предложено трудоустройство в Studia 54.'
    },
  ]

.qa
  .container
    +title('вопросы и ответы')
    ul.qa__list
      li.qa__item.show
        p.qa__item-question Кто может стать участником?
        p.qa__item-answer Нам не важно, какой у вас стаж. Главное — это наличие опыта работы и базовых знаний дизайна интерьера, которые вы уже применили на практике, а также портфолио. Именно портфолио будет ключевым фактором при наборе группы.
      each item in qa
        li.qa__item
          p.qa__item-question= item.question
          p.qa__item-answer= item.answer
