.first-screen
  .container
    h1.title
      | Интенсив
      span.md-hidden  для
      span.md-visible для практикующих
      span.md-hidden  практикующих
      |  дизайнеров
    p.subtitle От ведущего дизайнера Studia 54 Ольги Ивановой
    .first__pic
      picture
        img(src="./img/cap.png")
