.first-screen
  .container
    .content(style="background-image: url(./img/plan.png)")
      h1.title
        | Интенсив
        span.md-hidden  для
        span.md-visible для практикующих
        span.md-hidden  практикующих
        |  дизайнеров
      p.subtitle От руководителя Studia 54 Ольги Ивановой
      .first__pic
        picture
          img(src="./img/olga1.png")
