.quote
  .container
    h2.quote__title.title
      span.gold Быть дизайнером
      |  — значит постоянно оттачивать своё мастерство и накапливать знания
    .quote__photo
      picture
        img(src="./img/speaker.jpg", alt="speaker", width="100%", height="100%")
      .quote__photo-text
        span.quote__photo-name.title.gold Ольга Иванова
        span.quote__photo-about Ведущий дизайнер Studia 54
    p.quote__text
      | Даже опытные представители этой профессии совершают ошибки, часто сами того не зная.
      | В результате получаются непригодные для жизни интерьеры, а без понимания своих недочётов сложно расти и повышать профессионализм.
      br
      | Интенсив от Ольги Ивановой направлен на проработку типичных ошибок дизайнеров и погружение в детали проектирования жилых помещений,
      | от планировки до светодизайна.
      br
      | По окончании интенсива, все слушатели получат сертификат участника, а самым лучшим будет предложено присоединиться к команде 
      a.gold(href="https://www.studia-54.com/", target="_blank") Studia 54.
