.details
  .container
    ul.details__list
      li.details__item
        .details__header
          svg.details__icon
            use(xlink:href="./img/sprite.svg#people")
          span.details__title.title.gold для кого?
        .details__content
          p
            | Для практикующих дизайнеров с опытом работы,
            | которые хотят уйти из фриланса и начать работать с масштабными проектами,
            | и имеют портфолио
      li.details__item
        .details__header
          svg.details__icon
            use(xlink:href="./img/sprite.svg#extension")
          span.details__title.title.gold для кого?
        .details__content
          p
            | Для практикующих дизайнеров с опытом работы,
            | которые хотят уйти из фриланса и начать работать с масштабными проектами,
            | и имеют портфолио
      li.details__item
        .details__header
          svg.details__icon
            use(xlink:href="./img/sprite.svg#alarm")
          span.details__title.title.gold для кого?
        .details__content
          p
            | Для практикующих дизайнеров с опытом работы,
            | которые хотят уйти из фриланса и начать работать с масштабными проектами,
            | и имеют портфолио
      li.details__item
        .details__header
          svg.details__icon
            use(xlink:href="./img/sprite.svg#lamp")
          span.details__title.title.gold для кого?
        .details__content
          p
            | Для практикующих дизайнеров с опытом работы,
            | которые хотят уйти из фриланса и начать работать с масштабными проектами,
            | и имеют портфолио
