include ../mixins/title

-
  let about = [
    {
      text: 'Выпускница Санкт–Петербургской академии художеств им. Ильи Репина, специальность «Архитектура»'
    },
    {
      text: 'Опыт в дизайне 16 лет'
    },
    {
      text: 'Прошла путь от новичка на фрилансе до руководителя международной дизайн-студии с профессиональной командой из более чем 100 человек'
    },
    {
      text: 'Расширила деятельность Студии до 4х уникальных брендов, деятельность которых  направлена на интерьер, архитектуру, производство мебели и строительство'
    },
    {
      text: 'Создала уникальный стиль Студии, который вдохновляет людей по всему миру'
    },
    {
      text: 'Автор более 500 эксклюзивных дизайн-проектов, от Санкт–Петербурга до Нью-Йорка'
    }
  ]

.speaker#speaker
  .container
    .speaker__content
      .speaker__front
        +title('о спикере')
        .speaker__photo
          picture
            source(media="(min-width: 500px)", srcset="./img/speaker.jpg")
            img(src="./img/speaker-mobile.jpg", alt="speaker", width="100%", height="100%")
        .speaker__front-about
          h3.title.gold Ольга Иванова
          p Ведущий дизайнер и сооснователь Studia 54
      ul.speaker__about
        each item in about
          li.speaker__item
            p.speaker__item-content= item.text
