.interview {

	& .container {
		display               : grid;
		min-height            : 1352px;
		justify-content       : space-between;
		grid-template-columns : 649px 542px;
	}

	&__list {
		display        : flex;
		flex-direction : column;
		row-gap        : 60px;
	}

	&__item {
		display        : flex;
		flex-direction : column;
		row-gap        : 20px;

		&-question {
			color     : var(--gold);
			font-size : 20px;
		}

		&-answer {
			font-size   : 18px;
			text-indent : 30px;
		}
	}

	&__photo {
		top      : 80px;
		width    : 542px;
		height   : 782px;
		position : sticky;
	}
}
