.footer {
	display        : flex;
	flex-direction : column;
	row-gap        : 40px;

	&__top {
		& .container {
			display        : flex;
			flex-direction : column;
			row-gap        : 40px;
			align-items    : center;

			@media (min-width : $lg) {
				justify-content : space-between;
				align-items     : flex-start;
				flex-direction  : row;
			}
		}
	}

	& .logo {
		margin-bottom : 3px;
	}

	&__menu {
		display        : flex;
		flex-direction : column;
		row-gap        : 15px;
		text-align     : center;
		text-transform : uppercase;
		font-size      : 14px;

		@media (min-width : $md) {
			font-size : 16px;
		}

		@media (min-width : $lg) {
			text-align : left;
		}

		&:nth-of-type(2) a.footer__menu-link {
			text-transform : lowercase;
		}
	}

	& .social {
		font-size      : 14px;
		display        : flex;
		flex-direction : column;
		row-gap        : 15px;
		text-transform : uppercase;
		align-items    : center;

		@media (min-width : $lg) {
			font-size : 16px;
			row-gap   : 20px;
		}

		&__list {
			display    : flex;
			column-gap : 10px;

			@media (min-width : $lg) {
				column-gap : 19px;
			}
		}

		&__link {
			display               : flex;
			justify-content       : center;
			align-items           : center;
			background-color      : #211D19;
			width                 : 36px;
			height                : 36px;
			-webkit-border-radius : 50px;
			-moz-border-radius    : 50px;
			border-radius         : 50px;
			transition            : background-color .3s ease;

			@media (min-width : $lg) {
				width  : 46px;
				height : 46px;
			}

			& path {
				transition : fill .3s ease;

			}

			&:hover {
				background-color : var(--gold);

				& path {
					fill : var(--white);
				}
			}

		}

		&--pinterest {
			width  : 11px;
			height : 14px;

			@media (min-width : $lg) {
				width  : 14px;
				height : 18px;
			}
		}

		&--vk {
			width  : 17px;
			height : 11px;

			@media (min-width : $lg) {
				width  : 22px;
				height : 14px;
			}
		}

		&--instagram {
			width  : 14px;
			height : 14px;

			@media (min-width : $lg) {
				width  : 18px;
				height : 18px;
			}
		}
	}

	&__bottom {

		font-size  : 14px;
		text-align : center;

		@media (min-width : $md) {
			font-size : 16px;
		}

		.container {
			border-top  : 2px solid #282828;
			padding-top : 40px;
			justify-content : center;
		}
	}

	& a.footer__menu-link:hover {
		transition : color 0.3s ease-in-out;
		color      : var(--gold);
	}
}
