.header {
	color         : white;
	width         : 100%;
	margin-bottom : -20px;
	position      : relative;
	z-index       : 1;

	@media (min-width : $lg) {
		margin-bottom : 0px;
	}

	& .button {
		width : initial;
	}

	& .container {
		display         : flex;
		flex-direction  : column;
		align-items     : center;
		justify-content : space-between;
		row-gap         : 41px;
		padding         : 0 0 20px 0;
		width           : calc(100% - 30px);
		border-bottom   : 1px solid rgba(255, 255, 255, 0.3);

		@media (min-width : $lg) {
			padding        : 0 40px 30px;
			flex-direction : row;
			row-gap        : initial;
			width          : 1280px;
		}
	}

	&-content {
		display         : flex;
		column-gap      : 60px;
		align-items     : center;
		width           : 100%;
		justify-content : space-between;

		@media (min-width : $lg) {
			width : auto;
		}
	}
}

.logo {
	width : 113px;

	@media (min-width : $md) {
		width : 150px;
	}

	& img {
		display : block;
	}


}
