.first-screen {
	display     : flex;
	align-items : stretch;
	position    : relative;
	overflow    : hidden;

	@media (min-width : $lg) {
		overflow : visible;
	}

	& .container {
		position       : relative;
		flex-direction : column;
		row-gap        : 10px;

		@media (min-width : $md) {
			row-gap         : 0px;
			justify-content : flex-start;
		}
	}

	& .content {
		background-color    : var(--grey);
		padding             : 30px 15px 0;
		background-repeat   : no-repeat;
		background-position : 40% 180%;
		background-size     : 185%;
		overflow            : hidden;
		position            : relative;

		@media (min-width : $md) {
			padding             : 40px 30px 307px;
			background-position : -50% -10%;
			background-size     : 120%;
		}

		@media (min-width : $lg) {
			padding             : 124px 62px 147px;
			overflow            : visible;
			background-size     : 90%;
			background-position : 270% 50%;
		}
	}

	.title {
		font-size     : 28px;
		max-width     : 890px;
		margin-bottom : 17px;
		position      : relative;
		z-index       : 2;

		@media (min-width : $md) {
			font-size : 55px;
		}

		@media (min-width : $lg) {
			font-size : 70px;
		}
	}

	.subtitle {
		font-size     : 16px;
		padding-left  : 12px;
		border-left   : 2px solid var(--gold);
		margin-bottom : 20px;
		position      : relative;
		z-index       : 2;

		@media (min-width : $md) {
			font-size     : 24px;
			max-width     : 380px;
			margin-bottom : 0;
			padding-left  : 15px;
		}

		@media (min-width : $lg) {
			font-size : 26px;
		}
	}

	& .first__pic {
		position   : relative;
		margin-top : 8px;
		z-index    : 1;

		@media (min-width : $md) {
			position   : absolute;
			bottom     : -50px;
			right      : 0;
			margin-top : 0;
			width      : 344px;
			height     : 527px;
		}

		@media (min-width : $lg) {
			bottom : 0;
			right  : 64px;
			width  : 514px;
			height : 788px;
		}

		& img {
			transform : rotate(-4px);
		}

		&::before {
			display       : block;
			position      : absolute;
			content       : '';
			top           : 0;
			bottom        : 0;
			margin        : auto;
			left          : 15%;
			width         : 80vw;
			height        : 100vw;
			background    : radial-gradient(rgba(203, 163, 124, 0.35) 0%, rgba(203, 163, 124, 0) 100%);
			filter        : blur(25px);
			border-radius : 50%;
			z-index       : -1;

			@media (min-width : $md) {
				width  : 300px;
				height : 500px;
			}

			@media (min-width : $lg) {
				width  : 500px;
				height : 650px;
				left   : 0px;
				bottom : 30px;
				top    : inherit;
				margin : inherit;
				filter : blur(50px);
			}
		}
	}
}
