.speaker {

	@media (min-width : $lg) {
		margin-top : -63px;
	}
	& .container {
		flex-direction : column;
	}

	&__content {
		width                 : 100%;
		display               : grid;
		grid-template-columns : 100%;
		row-gap               : 30px;

		@media (min-width : $lg) {
			min-height            : 2076px;
			grid-template-columns : 629px 542px;
			justify-content       : space-between;
		}
	}

	&__photo {
		display        : flex;
		flex-direction : column;
		align-items    : center;

		& img {
			width           : 77vw;
			object-fit      : cover;
			object-position : top;
			@media (min-width : $lg) {
				height : 722px;
			}
		}

		& picture {
			position : relative;

			&::before {
				position         : absolute;
				display          : block;
				content          : "";
				width            : calc(100% - 4px);
				height           : calc(100% + 5px);
				border           : 1px solid var(--gold);
				background-color : transparent;
				top              : 23px;
				left             : 14px;

				@media (min-width : $lg) {
					width  : 564px;
					height : 732px;
					left   : 0;
					right  : 0;
					margin : auto;
					top    : 37px;
				}
			}
		}
	}

	&__front {
		display        : flex;
		flex-direction : column;
		row-gap        : 40px;

		@media (min-width : $lg) {
			width    : 629px;
			height   : 915px;
			position : sticky;
			row-gap  : 43px;
			top      : 20px;
		}

		&-about {
			display        : flex;
			flex-direction : column;
			row-gap        : 6px;
			margin-top     : -26px;
			text-align     : center;
			align-self     : center;
			align-items    : center;

			@media (min-width : $lg) {
				margin-top : -13px;
			}

			& h3 {
				font-size        : 18px;
				position         : relative;
				background-color : var(--black);
				display          : flex;
				justify-content  : center;
				padding          : 0 15px;
				@media (min-width : $lg) {
					font-size : 24px;
					width     : 245px;
				}
			}

			p {
				font-size : 14px;
				max-width : 184px;
				@media (min-width : $lg) {
					font-size : 16px;
					max-width : inherit;
				}
			}
		}
	}

	&__about {
		display        : flex;
		flex-direction : column;
		row-gap        : 40px;

		@media (min-width : $lg) {
			width       : 542px;
			padding-top : 91px;
		}
	}

	&__item {
		display : flex;

		@media (min-width : $lg) {
			padding          : 50px 40px;
			min-height       : 296px;
			background-color : var(--grey);
		}

		&-content {
			border-top  : 1px solid var(--gold);
			font-size   : 14px;
			padding-top : 10px;
			width       : 100%;

			@media (min-width : $lg) {
				padding-top : 25px;
				font-size   : 20px;
			}
		}
	}
}
